.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #faf9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #2517e6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .label-form-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: black 1px solid;
  padding: 10px;
} */

.eligibility-form {
  .form-row {
    display: flex;
    flex-direction: row; /* Stack label and input vertically */
    justify-content: space-between;
    margin-bottom: 25px; /* Space between each form row */
    border-bottom: black 1px solid;
    padding-bottom: 10px;

    label {
      display: block;
      margin-bottom: 2px; /* Space between label and input */
      margin-right: 30px;
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="radio"]
    select {
      width: 50%; /* Full width of the form row */
      padding: 10px;
      border: 1px solid #ccc; /* Border style */
      border-radius: 4px; /* Optional: if you want rounded corners */
      margin-bottom: 0; /* Remove margin-bottom if not needed */
    }
  }

  /* If you have specific width constraints or responsive behavior, you can add media queries */
  @media (max-width: 768px) {
    .form-row {
      flex-direction: column;
    }
  }
}

.checkbox-option {
  display: flex;
}

.checkbox-option input[type="radio"] {
  margin-right: 5px; /* Space between radio button and label */
}

.indented-row {
  display: flex;
  flex-direction: row-reverse;
  font-size: 20px;
}
